# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

# IDE
.vs/
.vscode/
*.swp

# Logs
src/QRMenu.Web/Logs/
server_error.log

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Secrets
appsettings.json
appsettings.Production.json
appsettings.Development.json

# Kişisel dosyalar
docs/Sunum_Rehberi.html

# Antigravity
.gemini/

# Ekran Görüntüleri
Proje Ekran Görüntüleri/